<!DOCTYPE html>
<html lang="en" data-theme="dark">
<!-- Append -->
<!-- <html data-theme="dark"> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Kit's Class Bookstore</title>
    
    <!-- favicon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://kit.fontawesome.com/032df15d1f.js" crossorigin="anonymous"></script>

    <!-- dark mode testing -->
    <script type="text/javascript">
        // Wait for document to load
        document.addEventListener("DOMContentLoaded", function(event) {
          document.documentElement.setAttribute("data-theme", "light");
      
          // Get our button switcher
          var themeSwitcher = document.getElementById("theme-switcher");
      
          // When our button gets clicked
          themeSwitcher.onclick = function() {
            // Get the current selected theme, on the first run
            // it should be `light`
            var currentTheme = document.documentElement.getAttribute("data-theme");
      
            // Switch between `dark` and `light`
            var switchToTheme = currentTheme === "dark" ? "light" : "dark"
      
            // Set our currenet theme to the new one
            document.documentElement.setAttribute("data-theme", switchToTheme);
          }
        });
      </script>

    <!-- custom css file link  -->
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/js/script.js"></script>

    
</head>
<body>
  

