<!-- header section starts  -->

<header class="header">

  <div class="header-1">
    <div class="icons">
        <!-- dark mode button -->
        <a href="#" id="theme-switcher" class="fa-solid fa-wand-magic-sparkles"></a>
    </div>

      <a href="/" class="logo"> <i class="fas fa-book"></i> Kit's Class Bookstore</a>
      
      <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="/login" class="fas fa-sign-in-alt"></a>
      </div>

  </div>

  <div class="header-2">
      <nav class="navbar">
          <a href="/">home</a>
          <a href="/books">books</a>
          <a href="/authors">authors</a>
          <a href="/">Suggestions?</a>
          <!-- book of the month -->
          <!-- drag queen readings? -->
          <!-- search bar -->
          <!-- book to prison pipeline -->
      </nav>
  </div>

</header>

<!-- header section ends -->

<!-- bottom navbar - mobile -->

<nav class="bottom-navbar">
  <a href="/" class="fas fa-home"></a>
  <a href="/books" class="fas fa-book"></a>
  <a href="/authors" class="fas fa-user"></a>
</nav>