<%- include('../partials/head') -%> 
    
<%- include('../partials/adminNavbar') -%> 

<!-- main-content section starts  -->

<section class="main-content" id="main-content">

  <h1 class="heading"> <span>how to be an admin and run the bookstore for students</span> </h1>
    
      <div class="main-content-layout">
        
        <div class="box">
            <div class="content">
                <h3 class="text-center">How To Navigate Directory of Pages:</h3>
                <span class="content">
                    <p class="box minor-expansion">
                        1. Book Listing: shows all of the books in the system that can be EDITED or DELETED. 
                        <br>
                        <br>
                        2. Author Listing: shows all of the books in the system that can be EDITED or DELETED. 
                        <br>
                        <br>
                        3. Create Book: to create a new entry in the system and/or if an entry was erased. Please notify the site admin if such is the case.
                        <br>
                        <br>
                        4. Create Author: to create a new entry in the system and/or if an entry was erased. Please notify the site admin if such is the case.
                    </p>
                </span>
            </div>
        </div>          
    </div>
<!-- end -->
<a href="/admin" class="btn btn-span">go back to admin page</a>
</section>

<!-- main-content section ends -->

<%- include('../partials/footer') -%> 