<%- include('../partials/head') -%> 
    
<%- include('../partials/navbar') -%> 

<section class="home" id="home">

    <div class="row">

        <div class="content">
            <h3>Curriculum Video Archive</h3>
            <p>Listing of all the latest videos in the cumulative archive. Please make sure to log out of the session using the Button below. Thank you!</p>
        </div>

    </div>

</section>

<!-- OG: main-content section starts [DO NOT DELETE/ONLY COPY] -->

<section class="main-content" id="main-content">

    <h1 class="heading"> <span>cumulative curriculum content</span> </h1>

    <div class="main-content-layout">
            <div class="content box">
                content...
            </div>
       </div> 
      
    <div class="main-content-layout">
        <a href="/logout" class="btn btn-span">log out</a>
    </div>

</section>